appdirs==1.4.4
astroid==2.4.1
attrs==21.2.0
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.9.3
bidict==0.21.2
black==21.5b1
braceexpand==0.1.7
cachelib==0.2.0
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cssselect2==0.4.1
defusedxml==0.7.1
Flask==2.0.1
Flask-Session==0.4.0
Flask-SocketIO==5.1.0
greenlet==1.1.0
h11==0.12.0
html5lib==1.1
idna==2.10
iniconfig==1.1.1
isort==4.3.21
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
lazy-object-proxy==1.4.3
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
natsort==7.1.1
numpy==1.20.2
opencv-contrib-python==4.5.1.48
packaging==21.0
pathspec==0.8.1
Pillow==8.2.0
pluggy==1.0.0
profanity-check==1.0.3
py==1.10.0
pycparser==2.20
Pygments==2.9.0
pylint==2.5.2
pyparsing==2.4.7
PyPDF2==1.26.0
Pyphen==0.10.0
pytest==6.2.5
python-engineio==4.2.0
python-socketio==5.3.0
pywal==3.3.0
regex==2021.4.4
render50==5.0.0
requests==2.25.1
scikit-learn==0.24.2
scipy==1.7.0
simple-websocket==0.2.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.19
termcolor==1.1.0
threadpoolctl==2.1.0
tinycss2==1.1.0
toml==0.10.1
urllib3==1.26.4
WeasyPrint==52.5
webencodings==0.5.1
Werkzeug==2.0.1
wrapt==1.12.1
wsproto==1.0.0
